@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --additional-colorsdark-smooth: rgba(26, 22, 31, 1);
  --additional-colorsline: rgba(233, 235, 237, 1);
  --grayscalegrayscale-10: rgba(249, 249, 249, 1);
  --grayscalegrayscale-100: rgba(23, 23, 37, 1);
  --grayscalegrayscale-30: rgba(227, 233, 237, 1);
  --grayscalegrayscale-60: rgba(156, 164, 171, 1);
  --grayscalegrayscale-70: rgba(120, 130, 138, 1);
  --heading-h5-bold-font-family: "Inter", Helvetica;
  --heading-h5-bold-font-size: 32px;
  --heading-h5-bold-font-style: normal;
  --heading-h5-bold-font-weight: 700;
  --heading-h5-bold-letter-spacing: 0.16px;
  --heading-h5-bold-line-height: 40px;
  --large-semibold-font-family: "Inter", Helvetica;
  --large-semibold-font-size: 18px;
  --large-semibold-font-style: normal;
  --large-semibold-font-weight: 400;
  --large-semibold-letter-spacing: 0.09px;
  --large-semibold-line-height: 26px;
  --main-colorsbackground-white: rgba(255, 255, 255, 1);
  --medium-medium-font-family: "Inter", Helvetica;
  --medium-medium-font-size: 16px;
  --medium-medium-font-style: normal;
  --medium-medium-font-weight: 500;
  --medium-medium-letter-spacing: 0.08px;
  --medium-medium-line-height: 24px;
  --medium-semibold-font-family: "Inter", Helvetica;
  --medium-semibold-font-size: 16px;
  --medium-semibold-font-style: normal;
  --medium-semibold-font-weight: 400;
  --medium-semibold-letter-spacing: 0.08px;
  --medium-semibold-line-height: 24px;
  --small-medium-font-family: "Inter", Helvetica;
  --small-medium-font-size: 14px;
  --small-medium-font-style: normal;
  --small-medium-font-weight: 500;
  --small-medium-letter-spacing: 0.07000000000000002px;
  --small-medium-line-height: 22px;
  --small-semibold-font-family: "Inter", Helvetica;
  --small-semibold-font-size: 14px;
  --small-semibold-font-style: normal;
  --small-semibold-font-weight: 400;
  --small-semibold-letter-spacing: 0.07000000000000002px;
  --small-semibold-line-height: 22px;
  --text-colorsblack: rgba(21, 21, 23, 1);
  --xtra-large-bold-font-family: "Inter", Helvetica;
  --xtra-large-bold-font-size: 20px;
  --xtra-large-bold-font-style: normal;
  --xtra-large-bold-font-weight: 700;
  --xtra-large-bold-letter-spacing: 0.1px;
  --xtra-large-bold-line-height: 28px;
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
